.App, body, html, div#root, .container-fluid{
  height: 100%;
}

p {
  margin: 0 !important;
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
}

.container-fluid {
  overflow: hidden;
  padding: 0 !important;
}

.Footer {
  height: 30%;
}

.WorldView {
  height: 70%;
}

.worldcolumn {
  padding: 0 !important;
}

.column, .tabcolumn {
  height: 100%;
  padding: 0 !important;
  border-left: 1px solid lime;
}

.tabcolumn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: monospace !important;
}

.tabcolumn:hover {
  background: #00ff0091;
  color: white;
}

.ConsoleBox {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Tabs {
  height: 15%;
  background:#000000db;
  color: lime;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid lime;
  border-top: 1px solid lime;
}

.WorldViewTabs {
  height: 5%;
  background:#000000db;
  color: lime;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid lime;
}

.worldviewtab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace !important;
}

.CurrentPlayers, .OtherZones {
  height: 95%;
  background: #000000db;
  color: lime;
  width: 100%;
  margin: 0 !important;
}

.InformationBox {
  height: 85%;
  background: #000000db;
  color: lime;
  width: 100%;
  margin: 0 !important;
}

.NpcZone {
  height: 70%;
  width: 100%;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ResourceZone {
  height: 30%;
  width: 100%;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.InfoBox {
}

.inputBox {
  border-top: 1px solid lime;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
input { border: 0; height: 100%; padding-left:10px; float:left ; width: 80%; background: #000000db; color: lime; font-family: monospace !important; font-size: 14px !important; outline: none;}
button { float:right; background: #000000db; color: lime; border: none; padding: 10px; width: 20% ; height: 100%; cursor: pointer; outline: none; border-left:1px solid lime; font-size: 18px; font-family: monospace !important;}
#consoleMessages, #localChatMessages, #globalChatMessages { list-style-type: none; margin: 0; padding-top: 5px; height: 100%; overflow: auto; background: #000000db}
#consoleMessages li, #localChatMessages li, #globalChatMessages li { padding: 0px 10px; color: lime; font-family: monospace; font-size: 14px}

.equipmentTab { border-left:none !important; }

@media screen and (max-width: 600px) {
  .hideonmobile {
    display: none !important;
  }
  #myVideo {
    height: 100%;
  }
}
