.App, body, html, div#root, .container-fluid{
  height: 100%;
}

p {
  margin: 0 !important;
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
}

.container-fluid {
  overflow: hidden;
  padding: 0 !important;
}

.Footer {
  height: 30%;
}

.WorldView {
  height: 70%;
}

.worldcolumn {
  padding: 0 !important;
  height: 100%;
}

.column, .tabcolumn {
  height: 100%;
  padding: 0 !important;
  border-left: 1px solid lime;
}

.tabcolumn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: monospace !important;
}

.tabcolumn:hover {
  background: #00ff0091;
  color: white;
}

.ConsoleBox {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Tabs {
  height: 15%;
  background:#000000a8;
  color: lime;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid lime;
  border-top: 1px solid lime;
}

.WorldViewTabs {
  height: 5%;
  background:#000000a8;
  color: lime;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid lime;
}

.worldviewtab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace !important;
}

.CurrentPlayers, .OtherZones {
  height: 95%;
  background: #000000a8;
  color: lime;
  width: 100%;
  margin: 0 !important;
}

.CurrentPlayers ul, .OtherZones ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 30px;
  overflow: hidden;
}

.OtherZones ul {
  margin: 0 !important;
  padding-top: 0 !important;
}

.CurrentPlayers ul li, .OtherZones ul li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: lime;
  font-family: monospace;
  display:flex;
  flex-flow:row;
  justify-content: start;
  align-items: center;
  cursor:pointer;
}

.OtherZones ul {
  padding-left: 0 !important;
}

.OtherZones ul li {
  justify-content: center !important;
  padding: 3px;
}

.CurrentPlayers ul li:hover {
  text-decoration: underline;
}

.CurrentPlayers ul li img, .OtherZones ul li img {
  height: 16px;
  max-height: 16px;
  margin-right: 10px;
}

.InformationBox, .Equipment, .Items, .Resources, .Crafting {
  height: 100%;
  background: #000000a8;
  color: lime;
  width: 100%;
  margin: 0 !important;
}

.NpcZone {
  height: 70%;
  width: 100%;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ResourceZone {
  height: 30%;
  width: 100%;
  margin: 0 !important;
  justify-content: left;
  align-items: center;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.InfoBox {
}

.inputBox {
  border-top: 1px solid lime;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
input { border: 0; height: 100%; padding-left:10px; float:left ; width: 80%; background: #000000a8; color: lime; font-family: monospace !important; font-size: 14px !important; outline: none;}
button { float:right; background: #000000a8; color: lime; border: none; padding: 10px; width: 20% ; height: 100%; cursor: pointer; outline: none; border-left:1px solid lime; font-size: 18px; font-family: monospace !important;}
#consoleMessages, #localChatMessages, #globalChatMessages { list-style-type: none; margin: 0; padding-top: 4px; padding-left:2px; padding-bottom: 2px; height: 100%; overflow: auto; background: #000000a8}
#consoleMessages li, #localChatMessages li, #globalChatMessages li { padding: 0px 10px; color: lime; font-family: monospace; font-size: 14px}

#consoleMessages, #localChatMessages, #globalChatMessages, .Equipment ul, .Items ul {
    overflow-y: scroll !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
#consoleMessages::-webkit-scrollbar, #localChatMessages::-webkit-scrollbar, #globalChatMessages::-webkit-scrollbar, .Equipment ul::-webkit-scrollbar, .Items ul::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.equipmentTab { border-left:none !important; }

.Travelling {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Travelling img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .hideonmobile {
    display: none !important;
  }
  #myVideo {
    height: 100%;
  }
}
