.UserContextMenu {
  background: black !important;
  z-index: 99999;
  border: 1px solid lime;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  padding-bottom: 0 !important;
}

.UserContextMenu p {
  color: lime;
  font-family: monospace;
  text-align: center;
  border-bottom: 1px solid lime;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.react-contexify__item__content {
  color: lime !important;
  font-family: monospace;
  justify-content: center;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover>.react-contexify__item__content {
    color: white !important;
    background-color: rgba(0, 255, 0, 0.8) !important;
}
